{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Items
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">All Items</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Items! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>ID</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ product.id | truncate(8,True,end='') }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>
                                            <form action="{{ url_for('preGetEditItem') }}" method="get">
                                                <input type="hidden" name="id" value="{{ product.id }}">
                                                <input type="submit" value="Edit">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}