{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Edit Name
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Edit Name</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Edit Requirement</h3>
                </div>
                <div class="box-body">
                    <h4>
                        Current Name : {{ product.name }}
                    </h4>
                        <form method="post" action="{{ url_for('postEditItem') }}">
                            <input type="hidden" name="id" value="{{ product.id }}">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">New Product Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="Enter New Name" required>
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="limit">New Quantity</label>
                                        <input type="number" name="quantity" class="form-control" placeholder="Enter New Quantity" required>
                                        <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                                    <input type="submit" class="btn btn-danger btn-block" value="Edit" >
                                </div>
                            </div>
                    </form>


                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}